$main-color: red;
@mixin  max-size() {
	width: 100%;
	height: 100%;
}

@mixin clear-default() {
	padding: 0;
	margin: 0;
}	

html, body {
	@include max-size();
	@include clear-default();
}

#map {
	@include max-size();
	position: absolute;
}